body {
	padding-top: 70px;
}

.navbar-default {
	margin-bottom: 0px;
}

.img-circle {
	width: 150px;
	height: 150px;
}

.alinhamento-pesquisa {
	margin-left: 300px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.corpo-conteudo {
	margin-top: 40px;
	margin-right: 80px;
}

.img-rounded {
	width: 110px;
	text-align: center;
}

.logout{
	margin-top: 8px;
}

.btn-logout{
	width: 80px;
}

.leia{
	cursor: default;
}

.form-signin{
	height: 350px;
}

.well {
	margin-top: 20px;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.42);
}

.well img {
	margin-bottom: 40px;
}

.form-signin {
	margin-top: 2px;
	text-align: center;
}

.text-livro{
	text-align: justify;
}

#img-pesquisa {
	margin-top: 120px;
}

#links-conteudo {
	margin-left: 100px;
}

#img-faculdade {
	width: 70px;
	height: 50px;
	margin-right: 15px;
}

#backgroud {
	background-image: url("../img/ebook.jpg");
	background-repeat: no-repeat;
	margin-top: -20px;
	height: 977px;
	width: 1350px;
	
}

#painel-livros-cadastrados{
	margin-top: 40px;
}

#backgrond-login{
	background-image: url("../img/ee.jpg"); 
	background-repeat: no-repeat;
	margin-top: 80px;
}

#bemVindo {
	margin-top: 200px;
}

#cancelar{
	width: 134px;
}
