body{
	padding-top: 0px;
}

.navbar-default {
	margin-bottom: 0px;
}

.img-circle {
	width: 150px;
	height: 150px;
}

.alinhamento-pesquisa {
	margin-left: 170px;
	margin-bottom: 50px;
}

a:link {
	text-decoration: none;
}

.corpo-conteudo {
	margin-top: 105px;
	margin-right: 80px;
}

.img-rounded {
	width: 110px;
	text-align: center;
}

.alinhamento-bem-vindo{
	margin-left: 74px;
}

.btn-login{
	margin-top: 30px;
	margin-bottom: 50px;
}

.img-faculdade{
	margin-top: 30px;
	width: 153px;
	height: 116px;
}

.pesquisa-avancada{
	margin-top: 60px;
}

.painel-livros-reservados{
	margin-top: 80px;
}

.logout{
	margin-top: 8px;
}

.btn-logout{
	width: 80px;
}

.leia{
	cursor: default;
}

.form-signin{
	height: 380px;
}

.well {
	margin-top: 20px;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.42);
}
	
.header-contato{
	margin-bottom: 60px;
}

.well img {
	margin-bottom: 40px;
}

.form-signin {
	margin-top: 2px;
	text-align: center;
	
}

.text-livro{
	text-align: justify;
}

.bem-vindo-jk{
	margin-top: 60px;
	color: #FFFFFF;
}

.glyphicon-ok-circle{
	color: #009900;
	font-size: 80px;
}

#img-pesquisa {
	margin-top: 120px;
}

#links-conteudo {
	margin-left: 100px;
}

#img-faculdade {
	width: 70px;
	height: 50px;
	margin-right: 15px;
}

#painel-livros-cadastrados{
	margin-top: 40px;
}

#enviar-contato{
	width: 90px;
}

#pesq-reserva{
	margin-top: 0px;
}

#bemVindo {
	margin-top: 200px;
}

#cancelar{
	width: 134px;
}

#img-contato{
	margin-top: -20px;
	width: 1000px;
	height: 300px;
}

#contato{
	margin-top: 100px;
}


        @page{
                margin-top: 3cm;
                margin-left: 3cm;
                margin-bottom: 2cm;
                margin-left: 2cm;
            }
            #titulo{
                font-size: 14px;
                text-align: center;
            }
            #tabela{
                width: 90%;
                font-size: 12px;
                margin: 0 auto;
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;
                white-space: pre-line;
                table-layout: auto;
                width: content-box;
				height: content-box;
            }
            .celula{
                border: 1px solid black;
                text-align: center;
                font-size: 12px;
            }
            .celula_center{
                border: 1px solid black;
                text-align: center;
                font-size: 12px;
			}
            .celula_head{
                border: 2px solid black;
                background-color: #D3D3D3;
                text-align: center;
                font-size: 12px;
            }
            #rodape-final{
                width: 100%;
                position: absolute;
                top: 22cm;
                left: 0cm;
                bottom: 3cm;
                right: 2cm;
                font-size: 12px;
            }
            #align-center{
                text-align: center;
            }
    